body {
   margin: 0;
}
.container {
   padding-left: 50px;
   padding-right: 50px;
}
.main-container {
   padding-left: 300px;
   margin-top: 50px;
}
.redBox {
   background-color: darkred !important;
}
.yellowBox {
   background-color: yellow !important;
}
.redBox p{
   color: #fff !important;
}
.MuiDrawer-paperAnchorDockedLeft {
   background-color: #1976d2 !important;
   top: 64px !important;
   color: #fff;
}
.sidePanel {
   color: #fff;
}
.MuiListItem-root {
   padding-top: 10px !important;
   padding-bottom: 10px !important;
}
.MuiListItemIcon-root {
   color: #fff !important;
   padding-left: 10px;
   min-width: 40px !important;
}
.MuiListItem-root span {
   font-size: 18px !important;
}
.footer {
   bottom: 0;
   position: fixed;
   width: 100%;
   background-color: #fff !important;
}
.noBorder {
   border: 0;
   box-shadow: none !important;
}
.accordion {
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   font-weight: bold;
   font-size: 18px;
}
.nextButtonDiv {
   width: 100%;
   text-align: right;
}
.nextButton {
   margin-left: auto;
}
.delBtn {
   color: red !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
   padding: 10px 14px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
   top: -3px !important;
}
button {
   padding: 10px 32px !important;
}
.MuiDataGrid-root button {
   padding: 5px 15px !important;
}