body {
   margin: 0;
}
.container {
   padding-left: 50px;
   padding-right: 50px;
}
.main-container {
   padding-left: 300px;
   margin-top: 50px;
}
.redBox {
   background-color: darkred !important;
}
.yellowBox {
   background-color: yellow !important;
}
.redBox p{
   color: #fff !important;
}
.MuiDrawer-paperAnchorDockedLeft {
   background-color: #1976d2 !important;
   top: 64px !important;
   color: #fff;
}
.sidePanel {
   color: #fff;
}
.MuiListItem-root {
   padding-top: 10px !important;
   padding-bottom: 10px !important;
}
.MuiListItemIcon-root {
   color: #fff !important;
   padding-left: 10px;
   min-width: 40px !important;
}
.MuiListItem-root span {
   font-size: 18px !important;
}
.footer {
   bottom: 0;
   position: fixed;
   width: 100%;
   background-color: #fff !important;
}
.noBorder {
   border: 0;
   box-shadow: none !important;
}
.accordion {
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   font-weight: bold;
   font-size: 18px;
}
.nextButtonDiv {
   width: 100%;
   text-align: right;
}
.nextButton {
   margin-left: auto;
}
.delBtn {
   color: red !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
   padding: 10px 14px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
   top: -3px !important;
}
button {
   padding: 10px 32px !important;
}
.MuiDataGrid-root button {
   padding: 5px 15px !important;
}
.infoDiv {
   padding: 0;
   border-radius: 5px;
}
.infoBullets {
   background: #575E6D;
   color: #fff;
   padding: 3px 10px;
   border-radius: 20px;
   font-size: 12px;
   margin-right: 50px !important;
   margin-left: 10px !important;
}
.noLeftMargin {
   margin-left: 0 !important;
}
.fiveRightMargin {
   margin-right: 5px !important;
}
.dateIcon {
   vertical-align: middle;
}
.created {
   background: #6D31ED;
}
.approved {
   background: #EFB034;
   color: #000;
}
.processing {
   background: #FFD318;
   color: #000;
}
.completed {
   background: #62CD14;
}
.tinyButton button {
   padding: 5px 5px !important;
   min-width: auto !important;
   margin-right: 10px;
}
.tinyButton button span {
   margin: 0 !important;
}
.css-46bh2p-MuiCardContent-root:last-child {
   padding: 8px 15px !important;
}
.MuiCard-root {
   margin-bottom: 10px;
}